ul{
    font-style: bold;
    color: darkblue;
}

li{
    font-style: italic;
    color: darkturquoise;
}
a:link {
color: rgb(69, 11, 177);
}

a:visited {
color: rgb(9, 0, 128);
}

a:hover {
color: rgb(238, 8, 123);
}

a:active {
color: blue;
}